:root {
    --main-font-family: "Roboto", sans-serif;
    --main-font-size: 16px;
    --main-font-color: #414446;
    --main-color-gray: #414446;
    --main-color-dark: #0067A3;
    --main-color-light: #0079BF;
    --main-color-white: #ffffff;

    --color-primary: #0067A3;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
    --color-dropdown: #f1f1f1;
    --color-theme: #E3B873;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    max-width: 1235px;
    min-height: 100vh;
    color: var(--main-font-color);
    font-size: 18px;
    line-height: 1.7;
    margin: 0 auto;
}


/* app */

.app_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-color-light);
    min-height: 700px;
}

.app_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color-dark);
    height: 55px;
    max-width: 1235px;
    padding: 0 20px;
}

.logo {
    color: var(--color-white);
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
}

.part__profile {
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.profile__icon {
    width: 40px;
    height: 40px;
    background-image: url('../images/profile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;
}

.profile__arrow {
    width: 24px;
    height: 24px;
    background-image: url('../images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.profile__arrow.profile__arrow--open {
    transform: rotate(180deg);
}


/* login */
.login__form {
    width: 500px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-top: 80px;
}

.login__form h2 {
    text-align: center;
}

.login__form input {
    display: block;
    border: 2px solid #ccc;
    font-size: 18px;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

.login__form label {
    color: #888;
    font-size: 18px;
    padding: 0 10px;
}

.login__form button {
    font-size: 16px;
    font-weight: 300;
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;

    transition: opacity .3s;
}

.login__form button:hover {
    opacity: .7;
    cursor: pointer;
}

.login__help {
    display: inline-block;
    padding: 5px 10px;
}

.login__failure {
    display: inline-block;
    padding: 5px 0;
    color: red;
    font-size: 14px;
}



/* workplace */
.workplace__groups {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.workplace__group {
    padding: 12px;
    background-color: white;
    border-radius: 7px;
    min-width: 250px;
}

.workplace__group_title {
}

.task__items {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px
}

.task_item {
    padding: 5px;
    border: solid 1px #EBECF0;
    border-radius: 5px;
}

.task_item a {
    text-decoration: none;
    color: var(--main-font-color);

    /* transition: all .3s; */
}

.task_button {
    margin-top: 15px;
    font-size: 18px;
    border: none;
    color: #5E6C84;
}

.task_button::before {
    width: 16px;
    height: 16px;
    content: url('../images/add-card.svg');
    margin-right: 3px;
}

.task_button:hover {
    cursor: pointer;
}

.task_button--disabled {
    color: #bcc4d3; 
}

.task_button--disabled:hover {
    cursor: default;
}






.form__add_task {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__input {
    border: 1px dotted #999; 
    border-radius: 3px;
    color: var(--main-font-color);
    padding: 5px;
}

.form__button {
    font-size: 16px;
    font-weight: 300;
    width: 100px;
    height: 30px;
    background: #555;
    color: #fff;
    border-radius: 5px;
    border: none;
    opacity: .9;
}

.form__button:hover {
    opacity: .7;
    cursor: pointer;
}





.task_prop__form {
    width: 700px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-top: 80px;
}

.task_prop__header {
    font-size: 25px;
    text-align: center;
}

.task_prop__input {
    display: block;
    border: 2px solid #ccc;
    font-size: 18px;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

.task_prop__text {
    display: block;
    border: 2px solid #ccc;
    font-size: 18px;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

.task_prop__label {
    color: #888;
    font-size: 18px;
    padding: 0 17px;
}

/* .task_item__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

.task_prop__submit {
    font-size: 16px;
    font-weight: 300;
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;

    transition: opacity .3s;
}

.task_prop__submit:hover {
    opacity: .7;
    cursor: pointer;
}

/* .task_prop__form a {
    display: inline-block;
    color: var(--main-font-color); 
    text-decoration: none;
    padding: 5px 10px;

    transition: all .3s;
} */

/* .task_item__form a:hover {
    color: var(--main-color-dark);
} */

.task_prop__close-btn {
    float: right;
    font-size: 30px;
    padding: 5px;
    border: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

.task_prop__close-btn:hover {
    background-color: black;
    opacity: .7;
    color: white;
    transition: .5s;
}


.online-checkbox-label {
    font-size: 1rem;
    color: #888;
    padding-left: 15px;
}

.real-checkbox {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 21px;
    /* background: var(--color-theme); */
    color: black;
    border: 2px solid #999;
    border-radius: 2px;
    vertical-align: sub;
    margin-right: 5px;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('../images/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    color: black;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: .2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
	transform: translate(-50%, -50%) scale(1);
}




/* .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-dropdown);
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    z-index: 1;
  }
  
  .dropdown-content.dropdown-user_profile {
    left: -130px;
    top: 46px;
    min-width: 200px;
  }

  /* .dropdown-content.dropdown-user_profile::after {
    content: " ";
    position: absolute;
    top: 0; 
    left: 148px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  } */



  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown a:hover {background-color: #ddd;}
  
.dropdown-show {
    display: block;
}

  

/* app footer */

.app_footer {
    background-color: var(--main-color-dark);
    color: var(--color-white);
    font-weight: 300;
    padding: 15px 20px;
    min-height: 55px;
    width: 100%;
}

.part__summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary {
    display: flex;
    gap: 20px;
}










/* 


.fas {
    float: right;
    margin-left: 10px;
    padding-top: 7px;
}

.dropdown__menu {
    display: none;
}

.menu__bar ul li:hover .dropdown__menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
}

.menu__bar ul li:hover .dropdown__menu ul {
    display: block;
    margin: 10px;
}

.menu__bar ul li:hover .dropdown__menu ul li {
    width: 250px;
    padding: 10px;
}

.dropdown__menu__1 {
    display: none;
}

.dropdown__menu ul li:hover .dropdown__menu__1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
}

.flash__alert {
    width: 95%;
    background-color: #fc9494;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
} */

.hidden {
    display: none;
}


.footer {
    padding-bottom: 4rem;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.copyright {
    margin-top: 7rem;
    font-size: .75rem;
    color: var(--main-color-gray);
}
